
.reversed {
  transform: rotate(180deg);
}

.content {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  top: 13em;
}
  
.card-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}
  
.card-img {
  width: 190px;
  border-radius: 10px;
}
  
.background {
  width: 300px;
  position: absolute;
}

.name {
  font-size: 1.5em;
  font-family: 'MedievalSharp', cursive;
}

.message {
  padding-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
}

.react-card-flip {
  width: 300px;
  position: relative;
  top: 13em;
}