
.reversed {
  transform: rotate(180deg);
}

.container {
  width: 300px;
  position: absolute;
  top: 35em;
  left: 25%;
}
  
.card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
  
.card-img {
  width: 190px;
  border-radius: 10px;
}
  
.background {
  width: 300px;
  position: absolute;
  top: 25%;
}

.name {
  font-size: 1.5em;
  font-family: 'MedievalSharp', cursive;
}

.message {
  padding-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
}

.react-card-flip {
  width: 300px;
  position: absolute;
  top: 13em;
}